#myfile {
  right: 30%;
  margin-top: 340%;
  padding-left: 3%;
}

.click-box-chat {
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: flex;
}

.click-telegram {
  bottom: 20px;
  right: 95px;
  position: fixed;
  display: flex;
}
.click-box-messanger {
  bottom: 20px;
  right: 170px;
  position: fixed;
  display: flex;
}

.bi-messenger {
  width: 32px;
  height: 32px;
}

.btn_primary {
  border: 1px dotted #000;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  color: #000;
  position: absolute;
  margin-top: 50%;
  margin-left: 85.5%;
  border-radius: 50%;
  border: 1px solid rgb(29, 31, 170);
}

.basic-flow {
  display: none;
  background-color: #c2e2fe;
  position: fixed;
  right: 3%;
  top: auto;
  bottom: 80px;
  width: 95%;
  height: 85%;
  border-radius: 16px;
  font-family: "Open Sans Condensed", sans-serif;
}

.time {
  font-size: 10px;
  margin-top: 5%;
  text-align: center;
}

.hello-messages {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid black; /* Параметры рамки */
  padding: 5px;
  font-size: 16px;
}

#my-messages {
  background-color: #77fcf8;
  border-radius: 8px;
  border: 1px solid black; /* Параметры рамки */
  padding: 5px;
  background-color: #18b6e1;
  color: #320907;
  text-align: left;
  margin-top: 2%;
}

.operator-name {
  margin-right: 1%;
  margin-top: 10%;
  margin-bottom: 0;
}

#server-messages {
  text-align: right;
  display: block;
  border-radius: 8px;
  border: 1px solid black; /* Параметры рамки */
  padding: 5px;
  background-color: rgb(202, 202, 202);
  color: #320907;
  margin-right: 1%;
  float: right;
  margin-top: 2%;
}

.messages {
  margin-bottom: 30%;
  max-width: 100%;
  margin-left: 10px;
  word-wrap: break-word;
  width: 90%;
}

#li {
  position: fixed;
  border-radius: 8px;
  /* right: 5%; */
  bottom: 10%;
  overflow: auto;
  overflow-x: hidden;
  height: 60%;
}

.chat-log {
  position: fixed;
  right: 200px;
  bottom: 100px;
  font: 1rem "Fira Sans", sans-serif;
}

.name {
  position: fixed;
  right: 33%;
  bottom: 100px;
}

.input {
  position: fixed;
  right: 5%;
  bottom: 130px;
  height: 75px;
  width: 91%;
  border-radius: 8px;
}

#nub {
  position: fixed;
  right: 40px;
  bottom: 50px;
}

#li::-webkit-scrollbar {
  width: 20px;
}

#number_btn_area {
  position: fixed;
  right: 40px;
  bottom: 30px;
  background-color: rgb(255, 255, 255);
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
  position: absolute;
  width: 200px;
  height: 50px;
  color: black;
  margin: 0.4rem 0;
}

#userInput {
  width: 95%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: white;
  outline: none;
}

.submit {
  color: #000;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
